<section class="NavLateral full-width" style="position: fixed">
    <div class="NavLateral-FontMenu full-width ShowHideMenu"></div>
    <div class="NavLateral-content full-width">
        <header class="NavLateral-title full-width center-align">
            Textiles.exe
            <i class="zmdi zmdi-close NavLateral-title-btn ShowHideMenu"></i>
        </header>
        <figure class="full-width NavLateral-logo">
            <img src="../../../assets/assets/img/univalle.jpg" alt="material-logo" class="responsive-img center-box">
        </figure>
        <div class="NavLateral-Nav">
            <ul class="full-width">
                <li>
                    <a [routerLink]="['/home']" class="waves-effect waves-light">
                        <i class="zmdi zmdi-home zmdi-hc-fw"></i>
                        Página principal
                    </a>
                </li>
                <li *ngIf="crearUser == 'administrador'" class="NavLateralDivider"></li>
                <li *ngIf="crearUser == 'administrador'">
                    <a [routerLink]="['/addUsuario']" class="NavLateral-DropDown  waves-effect waves-light">
                        <i class="zmdi zmdi-account-circle zmdi-hc-fw"></i>
                        Crear usuario
                    </a>
                </li>
                <li *ngIf="ventas == '1'" class="NavLateralDivider"></li>
                <li *ngIf="ventas == '1'">
                    <a [routerLink]="['/ventas']" class="NavLateral-DropDown  waves-effect waves-light">
                        <i class="zmdi zmdi-money-box zmdi-hc-fw"></i>
                        Ventas
                    </a>
                </li>
                <li *ngIf="compras == '1'" class="NavLateralDivider"></li>
                <li *ngIf="compras == '1'">
                    <a [routerLink]="['/compras']" class="NavLateral-DropDown  waves-effect waves-light">
                        <i class="zmdi zmdi-shopping-cart zmdi-hc-fw"></i>
                        Compras
                    </a>
                </li>
                <li *ngIf="reportes == '1'" class="NavLateralDivider"></li>
                <li *ngIf="reportes == '1'">
                    <a [routerLink]="['/reportes']" class="NavLateral-DropDown  waves-effect waves-light">
                        <i class="zmdi zmdi-collection-text zmdi-hc-fw"></i>
                        Reportes
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>