<app-nav-lateral></app-nav-lateral>
<section class="ContentPage full-width">
  <div class="row">
    <article class="col s12">
      <div id="clouds">
        <div class="cloud x1"></div>
        <div class="cloud x1_5"></div>
        <div class="cloud x2"></div>
        <div class="cloud x3"></div>
        <div class="cloud x4"></div>
        <div class="cloud x5"></div>
      </div>
      <div class='c'>
        <div class="_404">ERROR!</div>
        <br>
        <div class="_404">404</div>
        <br>
        <hr>
        <br>
        <div class='_1'>LA PÁGINA</div>
        <br>
        <div class='_2'>NO SE ENCONTRO</div>
        <br>
        <a class='btn' [routerLink]="['/home']">
          <strong> REGRESAR A LA PAGINA PRINCIPAL </strong>
        </a>
      </div>
    </article>
  </div>
</section>