<div class="ContentPage-Nav full-width">
    <ul class="full-width">
        <li>
            <a  class="tooltipped waves-effect waves-light btn-ExitSystem" data-position="bottom" data-delay="50" data-tooltip="Cerrar Sesion">
                <i class="zmdi zmdi-power"></i>
            </a>
        </li>
        <li style="padding:0 5px;" class="capitalize"> {{nombreUsuario}} {{apellidoUsuario}} </li>
        <li>
            <figure>
                <img src="../../../assets/assets/img/user.png" alt="UserImage">
            </figure>
        </li>
        <li style="padding:0 5px; color: rgb(211, 36, 43); font-size: 20px ">
            <strong>{{ cargo | uppercase }}</strong>
        </li>
    </ul>
</div>
